<%= form_for [@joke] do |f| %>
  <%= f.text_field :text %>
  <%= f.submit %>
<% end %>
<br>

<% if @jokes.any? %>
  
  <% @jokes.each do |joke| %>

    <div class="panel panel-primary">
      <div class="panel-heading"><%= joke.user.email %></div>
      <div class="panel-body">
        <%= joke.text %>
        <%= joke.average_rating %>
      </div>
      <div class='panel-footer'>
        <% unless @user.starred? joke %>
          <%= form_for [joke, @star] do |f| %>
            <%= f.select :rating, (1..5) %>
            <%= f.submit 'Star' %>
          <% end %>
        <% end %>
        <% if @user.owns_joke? joke %>
          <%= link_to "Delete", joke_path(joke), method: :delete %>
        <% end %>
      </div>
    </div>

  <% end %>

<% end %>

<% @users.each do |user| %>
  
  <%= user.email %>
  <%= user.score %>
  <%= user.rank %>
  <br>

<% end %>
