<!DOCTYPE html>

<html>

  <head>
    <title>Jokestar - Is This a Joke?</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav role='navigation' class="navbar navbar-default navbar-fixed-top">
      <div class='navbar-header'>
        <h1><a href='/' class='navbar-brand'>JokeStar<small> Is this a Joke?</small></a></h1>
      </div>

      <div class='container'>
        <ul class='nav navbar-nav navbar-right'>
          <% if user_signed_in? %>
            <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
            <li><%= current_user.email %></li>
            <li><%= current_user.score %></li>
            <li><%= current_user.rank %></li>
          <% else %>
            <li><%= link_to 'Sign in', new_user_session_path %></li>
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <p class="alert-info"><%= notice %></p>
    <p class="alert-danger"><%= alert %></p>

    <%= yield %>

  </body>
</html>
